pre {
  background-color: #7773;
  padding: 10px;
  border-radius: 3px;
}

code {
  background-color: #7772;
  padding: 0 3px;
  border-radius: 2px;
  font-size: 0.95rem;
}

pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

blockquote {
  background-color: #00b3ff11;
  margin: 0;
  padding: 20px;
  padding-left: 30px;
  border-left: 3px solid #179cd5;
}

iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}

.kd {
  color: #783055;
}

.nb {
  color: #158;
}

.c1 {
  color: #398;
}

.highlight-action,
.crayons-icon {
  display: none;
}
