/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

@import url('https://fonts.googleapis.com/css2?family=Julee&family=Rubik:wght@300;600&display=swap');
@import url('./common.css');
@import url('./page-bottom.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', system-ui, sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 16px;
  }
}

h1 {
  color: #555;
}

.subtitle {
  color: #777;
}

/* h1 {
  font-family: 'Julee';
} */

.separator {
  margin-top: 40px;
  height: 1px;
  /* background-color: #7772; */
  border-top: 1px solid #9995;
}

.icons i {
  display: inline-block;
  font-size: 32px;
  margin-right: 6px;
}

.icons img {
  width: 32px;
}

@media screen and (min-width: 1024px) {
  .icons img {
    width: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .icons img {
    width: 54px;
  }
}

.fa-globe-americas,
.fa-code {
  color: #555;
}

.svg-icon {
  height: 60%;
}

@media screen and (max-width: 1200px) {
  .svg-icon {
    width: 60%;
  }
}