/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

@import url('https://fonts.googleapis.com/css2?family=Julee&family=Rubik:wght@300;600&display=swap');
@import url('./color-mode.css');
/* @import url('./common.css'); */
@import url('./page-bottom.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', system-ui, sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 1900px) {
  body {
    font-size: 18px;
  }
}
a {
  text-decoration: none;
  color: #1faff7;
}
a:hover {
  text-decoration: underline;
}

h1 {
  color: #555;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 600;
}

.subtitle {
  color: #777;
}

.icons i {
  display: inline-block;
  font-size: 32px;
  margin-right: 6px;
}

.icons img {
  width: 32px;
}

@media screen and (min-width: 1024px) {
  .icons img {
    width: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .icons img {
    width: 54px;
  }
}

.fa-globe-americas,
.fa-code {
  color: #555;
}

section h2::before {
  transform: translateZ(-3px);
}

.fa-external-link-alt {
  display: inline-block;
  margin-left: 8px;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  #projects_svg {
    height: 300px;
  }
}

.crayons-icon {
  display: none;
}