/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Rubik:wght@300;600&display=swap');
@import url('./color-mode.css');
/* @import url('./common.css'); */
@import url('./page-bottom.css');
@import url('./blog.css');

html {
  --linkColor: #0092dc;
}

html.dark {
  --linkColor: #1faff7;
}

body {
  font-family: 'Rubik', system-ui, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-size: 14px;
}

button {
  font-family: 'Rubik', system-ui, sans-serif;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 1900px) {
  body {
    font-size: 18px;
  }
}
a {
  text-decoration: none;
  color: var(--linkColor);
}
a:hover {
  text-decoration: underline;
}

h1 {
  color: #555;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 600;
}

.subtitle {
  color: #777;
}

.icons i {
  display: inline-block;
  font-size: 32px;
  margin-right: 6px;
}

.icons img {
  width: 32px;
}

@media screen and (min-width: 1024px) {
  .icons img {
    width: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .icons img {
    width: 54px;
  }
}

.fa-globe-americas,
.fa-code {
  color: #555;
}

section h2::before {
  transform: translateZ(-3px);
}

.fa-external-link-alt {
  display: inline-block;
  margin-left: 8px;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  #projects_svg {
    height: 300px;
  }
}

.thumb:hover {
  filter: saturate(1.2) brightness(1.1) contrast(1.1);
  transform: scale(1.05);
}

.caption {
  position: absolute;
  pointer-events: none;
  bottom: 0;
  padding: 36px;
  padding-top: 240px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(0deg, #0008, transparent),
    linear-gradient(0deg, #0006, transparent);
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.15s;
}

.thumb:hover + .caption {
  opacity: 1;
  width: 101%;
  bottom: -6px;
}

.clicked-card {
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  z-index: 50;
}

.clicked-image {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: contain;
}
